/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
  font-family: 'gilroy';
  src: url('/fonts/gilroy-bold-webfont.woff2') format('woff2'),
    url('/fonts/gilroy-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'gilroy';
  src: url('/fonts/gilroy-medium-webfont.woff2') format('woff2'),
    url('/fonts/gilroy-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1.3;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*:focus {
  outline: none;
}

img {
  height: auto;
  max-width: 100%;
}

button,
.btn {
  padding: 9px 25px;
  border-radius: 2px;
  font-size: 12px;
  width: 150px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #518efa;
  color: white;
  text-align: center;
  border: 0;

  @media only screen and (max-width: 479px) {
    width: 100%;
  }
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.container {
  max-width: 1170px;
  padding: 0px 15px;
  width: 100%;
  margin: 0px auto;

  &.min-page-height {
    min-height: calc(100vh - 195px);
    position: relative;
  }
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

strong {
  font-weight: bold;
}

body {
  font-family: 'gilroy';
}

.wrapper {
  background: #ffffff;
  height: 100vh;

  .content-wrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 100%;

    .banner {
      position: absolute;
      top: 0;
      left: 0;
      width: 65%;
      height: 100vh;

      @media only screen and (max-width: 769px) {
        width: 100%;

        &::after {
          content: '';
          position: absolute;
          background: rgba(0, 0, 0, 0.6);
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .right-content {
      overflow: scroll;
      position: relative;
      padding: 50px 80px;
      height: 100%;

      @media only screen and (max-width: 769px) {
        width: 100%;
        padding: 30px;
      }

      @media only screen and (max-width: 769px) {
        padding: 15px;
      }

      .header {
        display: flex;
        justify-content: flex-end;

        @media only screen and (max-width: 769px) {
          svg path {
            fill: #fff;
          }
        }
      }

      .form-wrapper {
        margin-right: 100px;
        margin-top: 70px;

        @media only screen and (max-width: 769px) {
          margin: 0;
          margin-top: 70px;
        }

        .form-content {
          padding: 45px 60px;
          background: #ffffff;
          border-radius: 18px;
          filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.1));
          max-width: 450px;

          @media only screen and (max-width: 769px) {
            margin: 0 auto;
            max-width: 600px;
            padding: 50px;
          }

          @media only screen and (max-width: 479px) {
            padding: 20px;
          }

          h2 {
            font-size: 22px;
            font-weight: bold;
            color: #171717;

            @media only screen and (max-width: 769px) {
              font-size: 21px;
            }
          }

          p {
            padding: 35px 0;
            font-size: 16px;
            color: #171717;

            @media only screen and (max-width: 769px) {
              padding: 20px 0 0;
            }
          }

          .form {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .form-field {
              display: flex;
              flex-direction: column;
              margin: 10px 0;
              width: 100%;

              &.flex-col {
                width: calc(50% - 10px);
                @media only screen and (max-width: 769px) {
                  width: 100%;
                }
              }

              .form-error {
                color: #e15858;
                width: 100%;
                font-size: 14px;
                margin: 5px 0;
                white-space: nowrap;
              }

              .agreement-field {
                display: flex;
                font-size: 11px;
                color: #939393;

                label {
                  max-width: 284px;
                  color: #939393;
                  margin-left: 8px;

                  .redirect-link {
                    color: #518efa;
                    cursor: pointer;
                  }
                }
              }

              label {
                color: #333;
                padding-bottom: 5px;
              }

              input {
                background: #f5f6f7;
                border: 0;
                font-size: 11px;
                padding: 10px;
                padding: 9px 13px;
                box-shadow: inset 0px 1px 2px rgba(121, 121, 121, 0.06);
                border-radius: 5px;
                &::placeholder {
                  color: #8c8c8c;
                }

                @media only screen and (max-width: 769px) {
                  padding: 12px;
                }
              }
            }

            .waitlist-detail {
              color: #171717;
              font-size: 24px;
              padding-top: 35px;
              padding-bottom: 10px;

              @media only screen and (max-width: 479px) {
                font-size: 18px;
              }
            }

            .desc {
              font-size: 16px;
              padding-bottom: 85px;
              color: #171717;

              @media only screen and (max-width: 769px) {
                padding-bottom: 30px;
              }
            }
          }
        }
      }

      .footer {
        position: sticky;
        right: 80px;
        top: 100%;
        padding-top: 80px;

        @media only screen and (max-width: 769px) {
          color: #fff;
        }

        .copyright {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}

.popup-wrapper {
  position: absolute;
  background: rgba(23, 23, 37, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 15px;

  .popup-content {
    max-width: 600px;
    background: #feffff;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    position: relative;
    top: 50%;
    margin: 0 auto;
    transform: translateY(-50%);
    height: calc(100% - 30px);
    max-height: 530px;
    overflow: scroll;

    h2 {
      font-size: 18px;
      font-weight: bold;
      padding: 25px 30px;
      border-bottom: 1px solid #e9edf0;

      @media only screen and (max-width: 479px) {
        padding: 10px;
        font-size: 16px;
      }
    }

    .closePopup {
      position: absolute;
      right: 30px;
      top: 27px;

      @media only screen and (max-width: 479px) {
        right: 15px;
        top: 10px;
      }

      img {
        @media only screen and (max-width: 479px) {
          height: 13px;
        }
      }
    }

    .detail {
      padding: 20px 30px;

      @media only screen and (max-width: 479px) {
        padding: 10px;
      }

      h4 {
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 15px;

        @media only screen and (max-width: 479px) {
          padding-bottom: 7px;
          font-size: 13px;
        }
      }

      p {
        padding-bottom: 10px;
        @media only screen and (max-width: 479px) {
          padding-bottom: 7px;
          font-size: 13px;
        }
      }
    }
  }
}
